[WinShowEQ]
Host=127.0.0.1
Port=5555
UpdateDelayMs=100

[Directories]
CfgDir=cfg
TimerDir=timers
AnnotationsDir=annotations
LogDir=logs
FilterDir=filters
MapDir=maps

[Alerts]
DangerMode=speech
DangerSound=
CautionMode=beep
CautionSound=
HuntMode=beep
HuntSound=
RareMode=none
RareSound=

[Discord]
WebhookUrl=
OnDanger=0
OnHunt=0